/* Reseteo estilos predefinidos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

img {
    max-width:100%;
    height:auto;
}

body {
    background:#e9e9e9;
    font-family: Raleway, sans-serif;
    font-size: 12px;
}